.rsvo-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.5rem;
  height: calc(2.25rem + 2px);
  font-size: 1.04rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rsvo-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.rsvo-form-control:disabled {
  color: #afafaf;
  background-color: #e9ecef;
}

.rsvo-form-control.is-valid {
  border-color: #28a745;
}

.rsvo-form-control.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.rsvo-form-control.is-invalid {
  border-color: #dc3545;
}

.rsvo-form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.custom-control-label::before, 
.custom-control-label::after {
top: .4rem;
width: 1.25rem;
height: 1.25rem;
}

.form-control-lg {
    height: calc(2.875rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.scrolling-table tbody {
      display: block;
      height: 500px;
      width: 100%;
      overflow: hidden;
      overflow-y: auto;
}
.scrolling-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.btn-primary {
  color: #fff;
  background-color: #b01e59;
  border-color: #b01e59;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f1297a;
  border-color: #f1297a;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 41, 122, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #b01e59;
  border-color: #b01e59;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f1297a;
  border-color: #f1297a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 41, 122, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #ffffff;
  border-color: #b01e59;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 50, 111, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #b01e59;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 50, 111, 0.5);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #444; /* #62366f */
}

a {
  color: #444; /* #b01e59 */
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #444; /* #62366f */
  text-decoration: underline;
}

.tableFixHead { 
    overflow-y: auto; 
    height: 500px; 
    border-left: 0; 
    border-right: 0;
}

.tableFixHead th, td {
    border: 2px solid #dee2e6; 
    border-top: 0; 
}

.tableFixHead thead th { 
    position: sticky; 
    top: 0; 
    background-color: white; 
    padding: 15px;
    box-shadow: 0px 0px 7px 2px #dee2e6;
}

.table td {
    box-shadow: 0px 0px 4px 0px #dee2e6;
}

.modal-body {
    padding: 0.01rem 0.5rem;
}

