<form method="post" enctype="multipart/form-data" action="form_report.php">
    <div style="display: flex; justify-content: space-around; margin-top: 5px;">
        <input type="submit" class='btn btn-outline-dark' style="margin-right: 32%" name="vodokanal_full" value="Полный отчет для Водоканала" />
        <div>
            <h6 style='font-size: 17px'>Загрузка шаблонов для формирования отчетов:</h6>
            <input name="userfile" type="file" accept="excel" />
            <input type="submit" class='btn btn-outline-dark' name="load_file" value="загрузить" />
        </div>
    </div>
</form>

